form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div.form {
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 10px 20px;
}

form div.form:has(label):not(:has(input[type="checkbox"])) {
    flex-direction: column;

    label {
        padding-left: 5px;
    }

    input {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        height: var(--control-height);
    }
}

form div.form:has(input[type="checkbox"]) {
    flex-direction: row-reverse;
    padding: 0;
    gap: 10px;
}

form div.form:has(button) {
    flex-direction: row;
    gap: 10px;    
}

form div.form:has(button),
.message-buttons {
    button {
        width: 100px;
        height: var(--control-height);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background-color: var(--bg-page);
    }

    button:hover {
        background-color: var(--bg-page-hover);
    }
}